/* Light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --background-color: #f8f9f7;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #0D160B;
    }

    p {
      color: #360036;
    }

    a {
      color: #d50000;
      text-decoration-color: #d50000;
      /* font-weight: 300; */
    }
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
      --background-color: #1E1E1E;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #F5F5F5;
      }

      p {
        color: #CCCCCC;
      }

      a {
        color: #FF5722;
        text-decoration-color: #FF5722;
        /* font-weight: 300; */
      }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-weight: 300;
  --pico-font-family: var(--pico-font-family-monospace);
}


h3 {
    --pico-font-size: 1.25rem;
    --pico-line-height: 1.175;
    --pico-typography-spacing-top: 2.25rem;
  }

header {
  margin-top: 3rem;
}

article {
  background: none;
  box-shadow: none;
}

p {
  font-weight: 200;
}

.container {
    max-width: 750px;
}

.t-center,
.t-right,
.t-left {
    text-align: center;
}

.date {
  font-family: var(--pico-font-family-monospace);
  font-weight: lighter;
}

@media (min-width: 768px) {
    section {
      margin-bottom: 3rem;
    }

    .t-right {
        text-align: right;
    }

    .t-left {
      text-align: left;
    }
}

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}
